<form>
    <div class="alignment-tracker__adjustment_container">
        <div class="alignment-tracker__actor_header">{{actorName}}</div>
        <div class="alignment-tracker__spacer"></div>
        <div class="alignment-tracker__adjustment_grid">
            <div class="alignment-tracker__good_button">
                <button data-action="adjust-good">
                    <i class="fa-solid fa-arrow-up"></i>
                    <div>{{localize "alignment-tracker.adjustment-good"}}</div>
                </button>
            </div>
            <div class="alignment-tracker__lawful_button">
                <button data-action="adjust-lawful">
                    <i class="fa-solid fa-arrow-left"></i>
                    <div>{{localize "alignment-tracker.adjustment-lawful"}}</div>
                </button>
            </div>
            <div class="alignment-tracker__chaotic_button">
                <button data-action="adjust-chaotic">
                    <i class="fa-solid fa-arrow-right"></i>
                    <div>{{localize "alignment-tracker.adjustment-chaotic"}}</div>
                </button>
            </div>
            <div class="alignment-tracker__evil_button">
                <button data-action="adjust-evil">
                    <i class="fa-solid fa-arrow-down"></i>
                    <div>{{localize "alignment-tracker.adjustment-evil"}}</div>
                </button>
            </div>
        </div>
    </div>
</form>